.DS_Store
history.txt
.idea
grading/**/**/*.java
.env
.envrc
rustc-ice-*
.vs
*.patch

# Added by cargo

target

# Untrack PLAN doc
PLAN.md
fixtures/java/rune-hello/results.json
**/.umm/test_reports
**/.umm
fixtures/java/*/test_reports

# Python artifacts
__pycache__/
*.pyc
