## Program Verification and Validation SLO - Testing

Objective: Design and write effective tests for programs.

Rubric:

- Exemplary (5): Students can design and write accurate tests for all functionality, correctly identifying all possible scenarios, including typical cases and exceptional/illegal/boundary cases. Test cases not only consider the correctness of the program but also other characteristics applicable to production-quality code, e.g., reliability, scalability, efficiency, bias, etc.

- Accomplished (4): Student can design and write accurate tests for all functionality, correctly identifying most expected scenarios, including typical cases and exceptional/illegal/boundary cases.

- Acceptable (3): Student can design and write accurate tests for most functionality, correctly identifying most common scenarios, but sometimes missing atypical/exceptional/illegal/boundary cases. Some tests may produce inaccurate results.

- Needs Improvement (2): Student attempts to examine the correctness of the functionality through tests, but tests are not comprehensive, are inaccurate, and/or miss critical/common scenarios.

- Beginner (1): Student did not show evidence of testing.

## Feedback Guidelines

1. `number_of_stars` in the template must be formatted as described below. You absolutely MUST follow this template, as the system will look for these specific strings as shown below to determine the proficiency level for the student.

   - Exemplary (5): `### Proficiency: *****`
   - Accomplished (4): `### Proficiency: ****`
   - Acceptable (3): `### Proficiency: ***`
   - Needs Improvement (2): `### Proficiency: **`
   - Beginner (1): `### Proficiency: *`

   If the template includes `### Proficiency: ***`, the system will automatically assess the student as having met the Acceptable (3) level of proficiency.

2. Your feedback MUST include a snippet from the student's submission and an example of how it should be improved. Students will not be engaged unless they receive concrete actionable feedback. You MUST ensure that your feedback is actionable and specific. This snippet should only include relevant excerpts. For example, if commenting on a method's documentation comment, only include the documentation comment and the method signature, not the entire method.

3. The snippets you include as described in the template must not be the entire submission, but rather a specific section of the submission that you are providing feedback on.

4. Include as many snippets and feedback sections as you feel are necessary to provide a comprehensive review.

5. Keep responses concise and appropriate as most students have short attention spans. Avoid lengthy explanations that may overwhelm them.

## Feedback template

<!-- Template starts from here -->

## Testing - {{ Feedback_title }}

{{ feedback_content }}

---

### Proficiency: {{ number_of_stars }}

{{ tips_and_suggestions_to_improve }}
